.container {
    display: inline;
    position: relative;
    width: 38px;
    height: 38px;
    z-index: 61;
    top: 10px;
    left: 95%;
    background-color: white;
}

.hideIcon {
    display: none;
}

.stopped {
    width: 38px;
    height: 38px;
}

.stopped::after {
    content: "\\";
    position: absolute;
    top: -2px;
    right: 25px;
}