.container {
    position: absolute;
    right: 2%;
    top: 20%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.galeryItems {
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: auto;
}

.focus {
    position: relative;
    width: 112px;
    height: 112px;
    top:-6px;
    left:-6px;
    z-index: 99;
    padding: calc(0px + 5px);
    outline: 2px solid #f9dc5c;
    outline-offset: calc(-1*5px);
    -webkit-mask: conic-gradient(at 15px 15px,#0000 75%,#000 0) 0 0/calc(100% - 15px) calc(100% - 15px), linear-gradient(#000 0 0) content-box;
}

.item {
    position: relative;
    width: 100px;
    min-height: 100px;
    margin: 5px;
    z-index: 99;
    color: white;
}

.counter {
    color:white;
    z-index: 99;
    margin-right: 20px;
    font-family: 'EB Garamond', serif;
}