.cardWrapper {
    display: flex;
    width: 40%;
    margin: 10px;
}

.cardWrapper > img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}